.spreadsheet {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Add this line to set the background color */
  border-radius: 10px; /* Add this line to set the border radius */
}

.spreadsheet th, .spreadsheet td {
  border: 4px solid #ffffff;
  padding: 16px;
  border-radius: 10px; /* Add this line to set the border radius */
}

.spreadsheet tr:nth-child(even) {
  background-color: #f2f2f2;
}

.spreadsheet th {
  background-color: #191919;
  color: white;
}

.spreadsheet tr:hover {
  background-color: #ddd;
}
