.spreadsheet_Large {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255, .5);
  border-radius: 4px;
  padding: 1em;
  font-size: .8em;
}

/* Add this media query to set different font sizes based on screen size */
@media (max-width: 800px) {
  .spreadsheet_Large {
    font-size: .5em; /* Set the font size for smaller screens */
  }
}

.spreadsheet_Large th, .spreadsheet_Large td {
  border: 1px solid #ffffff;
  padding: 8px;
  border-radius: 4px;
  margin: px;
}

.spreadsheet_Large tr:nth-child(even) {
  background-color: #f2f2f2;
}

.spreadsheet_Large th {
  background-color: #000000;
  color: white;
  height: 3em;
}

.spreadsheet_Large tr:hover {
  background-color: #d1fbff54;
}
